.checkbox {
  width: 100%;
  height: max-content;
  border-bottom: 0;
  position: relative;
  z-index: 1;

  &__options-switcher {
    cursor: pointer;
    // height: max-content;
    width: 100%;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: $c-red;
    display: flex;
    flex-direction: column;
  }

  &__options-switcher-text {
    color: #fff;
    background-color: $c-light-red;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__options-block {
    overflow-y: hidden;
    height: 0;
    // transform: scaleY(0);
    width: 100%;
    transition: all 0.2s ease;
    transform-origin: top;
    height: max-content;
  }

  &__option {
    transition: all 0.1s ease;
    cursor: pointer;
    height: 30px;
    font-size: 24px;

    position: relative;
    border-bottom: 2px solid $c-gray;

    &::after {
      content: url(../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/check.svg);
      transform: scale(0);
      transition: all 0.1s ease;
      position: absolute;
      display: block;
      right: 0;
      width: 30px;
      top: 0;
      bottom: 0;
    }

    &--active {
      &::after {
        transform: scale(100%);
        border-left: 2px solid $c-light-green;
        background-color: $c-light-green;
      }

      background-color: $c-light-red;
      color: #fff;

    }
  }
}