.collections-page {
  &__poster {
    display: block;
    position: relative;
    padding-bottom: 150%;
    object-fit: cover;
    object-position: center;
  }

  &__poster-img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }

}