.movie-page {
  &__trailer {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
  }

  &__video {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__votes {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
  }

  &__votes-value {
    color: lightgreen;
  }

  &__poster {
    display: block;
    position: relative;
    padding-bottom: 150%;
    object-fit: cover;
    object-position: center;
  }

  &__poster-img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }

  &__genres-list {
    padding: 15px 0;
    display: flex;
    gap: 10px;
  }

  &__overview {
    padding-right: 20%;
    color: $c-gray;
    font-size: 20px;
  }

  &__genre {
    cursor: pointer;
    border: 2px solid lightgreen;
    font-weight: bold;
    color: lightgreen;
    border-radius: 20px;
    width: max-content;
    padding: 5px;
  }

  &__title {
    display: block;
    width: 100%;
    height: max-content;
    background-color: $c-light-red;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
  }
}