.page {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: #fff;
  // box-shadow: 0 0 0 500px $c-red;

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
  }

  &__section {
    margin-bottom: 100px;

    @include onMobile() {
      margin-bottom: 50px;
    }
  }

  &__description {
    padding-left: 7px;
    border-left: 2px solid $c-gray;
    overflow-x: hidden;
    height: max-content;

    @include onMobile() {
      border: none;
      padding: 0;
    }
  }
}